{% extends 'base.html' %}

{% block body %}

<div onclick="history.back()" style="font-size: 28px;">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
</div>   

<h1 class="text-center my_search_text" style="font-size: 40px"><b>"{{ query }}"</b>에 대한 검색 결과</h1>


<div class="track-container">
    {% for product in products %}
        <div class="track-card-playlist">
            <a href="{% url 'music_rec_app:detail' track_id=product.track_id %}">
                <img src="{{ product.track_picture_url }}" alt="Track Image" class="playlist_album">
                <p class='inpl_names'><strong>{{ product.track_name }}</strong></p>
                <p class='inpl_names'>{{ product.artist_name }}</p>
            </a>
        </div>
    {% empty %}
    <div class="row mx-auto">
        <p class="text-center my_search_text">0건의 결과가 있습니다.</p>
    </div>
{% endfor %}

{% endblock %}